<section id="section-start">
  <div class="text-center">
    <h1 class="my-6 text-3xl font-bold">{{ welcomeMessage }}</h1>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" routerLink="../churrascos/novo">Novo Churrasco</mat-button-toggle>
      <mat-button-toggle value="bold" routerLink="../produtos/carnes">Nova Carne</mat-button-toggle>
      <mat-button-toggle value="bold" routerLink="../produtos/bebidas">Nova Bebida</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</section>
