<section id="section-start">
  <div class="text-center">
    <h1 class="my-6 text-3xl font-bold">{{ welcomeMessage }}</h1>

    @if (loginService.isLoggedIn()) {
      <mat-button-toggle-group aria-label="Menu de Navegação">
        <mat-button-toggle value="bold" routerLink="../churrascos/novo">Novo Churrasco</mat-button-toggle>
        <mat-button-toggle *ngIf="loginService.isAdmin()" value="bold" routerLink="../produtos">Produtos</mat-button-toggle>
      </mat-button-toggle-group>
    }
  </div>
</section>
