<!-- item-list.component.html -->
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @for (item of getCarnes(); track item.id;
        let i = $index;
        let c = $count;
        let f = $first;
        let l = $last;
        let o = $odd;
        let e = $even
        ) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>
            <button mat-raised-button color="primary" (click)="navegarParaEdicao(item.id)">
              Ir para edição
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  